absl-py==0.6.1
adal==1.2.0
antlr4-python3-runtime==4.7.1
applicationinsights==0.11.7
argcomplete==1.9.4
asn1crypto==0.24.0
astor==0.7.1
azure-cli-command-modules-nspkg==2.0.2
azure-cli-core==2.0.52
azure-cli-nspkg==3.0.3
azure-cli-profile==2.1.2
azure-cli-telemetry==1.0.0
azure-common==1.1.16
azure-graphrbac==0.53.0
azure-mgmt-authorization==0.51.1
azure-mgmt-containerregistry==2.5.0
azure-mgmt-keyvault==1.1.0
azure-mgmt-nspkg==3.0.2
azure-mgmt-resource==2.0.0
azure-mgmt-storage==3.1.0
azure-nspkg==3.0.2
azure-storage-blob==1.4.0
azure-storage-common==1.4.0
azure-storage-nspkg==3.1.0
azureml-contrib-brainwave==1.0.2
azureml-contrib-run==1.0.2
azureml-contrib-server==1.0.2
azureml-contrib-services==1.0.2
azureml-contrib-tensorboard==1.0.2
azureml-core==1.0.2
azureml-pipeline==1.0.2
azureml-pipeline-core==1.0.2
azureml-pipeline-steps==1.0.2
azureml-sdk==1.0.2
azureml-telemetry==1.0.2
azureml-train==1.0.2
azureml-train-core==1.0.2
azureml-train-restclients-hyperdrive==1.0.2
azureml-widgets==1.0.2
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.4
certifi==2020.4.5.1
cffi==1.11.5
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
contextlib2==0.5.5
cryptography==2.4.2
dask==1.0.0
docker==3.6.0
docker-pycreds==0.4.0
Flask==1.0.2
gast==0.2.0
grpcio==1.17.0
h5py==2.8.0
humanfriendly==4.17
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
jmespath==0.9.3
jsonpickle==1.0
Keras==2.1.5
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
knack==0.5.1
Markdown==3.0.1
msrest==0.6.2
msrestazure==0.5.1
ndg-httpsclient==0.5.1
networkx==2.2
numpy==1.15.4
oauthlib==2.1.0
paramiko==2.4.2
pathspec==0.5.9
Pillow==5.3.0
portalocker==1.2.1
protobuf==3.6.1
pyasn1==0.4.4
pycparser==2.19
PyJWT==1.7.1
PyNaCl==1.3.0
pyOpenSSL==18.0.0
pypiwin32==223
pyreadline==2.1
pytz==2018.7
PyWavelets==1.0.1
pywin32==224
PyYAML==3.13
requests==2.21.0
requests-oauthlib==1.0.0
ruamel.yaml==0.15.51
scikit-image==0.14.1
scipy==1.1.0
SecretStorage==2.3.1
tabulate==0.8.2
tensorboard==1.12.0
tensorboardX==1.5
tensorflow==1.12.0
termcolor==1.1.0
toolz==0.9.0
urllib3==1.23
websocket-client==0.54.0
Werkzeug==0.15.3
wincertstore==0.2
